{% load staticfiles %}
<html>  
	<head>
	<title>Kundan's blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 	<link rel="stylesheet" href="{% static "css/blog.css" %}">       
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	
    	</head>
    <body>
      <div class="page-header">
	{{ user }}
	<a href="{% url 'blog.views.register' %}" >Register</a>
	<h1><a href="/">Kundan's Blog hello</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
		<h2>Login</h2>
		<div class="log_in">
		<form method="POST">{% csrf_token %}
  			{{ form.as_p }}
  			<button type="submit" class="save btn btn-defaults">Login</button>
		</form>
	 </div>
        </div>
    </div>
</body>
</html>

    
